---
import Layout from '../layouts/Layout.astro';

let year = new Date().getFullYear()
---

<Layout title="Hi, my name is Israel Huallpara">
	<main>
		<h1> Hi, page under development...</h1>
		
		<p>&copy; {year}</p>
		<div>
			<img style="top:-10%;" src="https://i.pinimg.com/originals/8a/2e/4c/8a2e4c79a1b9c983dc6bf8d6cbada43a.gif" alt="Coding">
		</div>		
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90%;
		text-align: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
